<div class="container-fluid p-0" id="content">
  <section class="resume-section col d-flex align-items-center" id="about">
    <div class="W-100">
      <h1 class="mb-0">
        <span id="surname">
          Obakeng
          Phikiso
        </span>
      </h1>
      <div class="subheading lead">2261 Ineeleng street · Batlharos 8460 · +27 76 912 5996 ·
        <a href="mailto:obakeng.phikiso@icloud.com">obakeng.phikiso@icloud.com</a> / 
        <a href="mailto:obakeng.phikiso@gmail.com">obakeng.phikiso@gmail.com</a>
      </div>
      <section class="about">
        <h1 class="heading">
          About me
        </h1>
        <div class="content col">
          <p class="intro lead">
            Intermediate Full-stack developer with a demonstrated history of working in the information technology and
            services industry. Skilled in Angular 2+, Ionic framework, NestJS, express.js,
            Firebase(Client & Admin), Node.JS, Google Cloud Platform, Git/GitHub, Typescript, Java, MySQL. Strong
            engineering professional with a Diploma focused in Information and communications
            technology specializing in application development from Sol Plaatje University.
          </p>
        </div>
            <div class="download-btn">
              <button type="button" id="button" class="btn btn-primary pl-5 pr-5">
                Download CV
              </button>
          </div>

      </section>
      <h1 class="heading">
        Connect with me
      </h1>
      <div class="social-icons">
        <a href="#" class="mat-elevation-z5">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="mat-elevation-z5">
          <i class="fab fa-github"></i>
        </a>
        <a href="#" class="mat-elevation-z5">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mat-elevation-z5">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
