@mixin transition-ease {
  transition: all 0.9s ease-in-out;
}

#surname {
  color: #3C9FF5;
}
.subheading a {
  color: #000;
  cursor: pointer;
}
.heading {
  color: #3C9FF5;
  font-variant-caps: all-petite-caps;
  font-size: 500;
}
.content {
  margin: 0;
  padding: 0;
}
.download-btn {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

#button {
  font-weight: bold;
}


.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}

footer {
  bottom: 0;
  right: 0;
  top: auto;
}
button {
  background-color: #3C9FF5;
}
button:hover {
  @include transition-ease();
}
p {
  margin: 0;
  padding: 0;
}
.message-header {
  background-color: #3C9FF5;
}
.download-text {
  font-style: italic;
  font-size: small;
}