<div class="container-fluid p-0" id="content">
  <section class="col d-flex align-items-center">
    <div class="w-100">
      <h1 class="mb-0">
        <span id="surname">
          Relevant Experience
        </span>
      </h1>
      <div class="experience">
        <div class="row">
          <div class="col experience-description">
            <h1 class="subheading company">
              Accenture
            </h1>
            <h4>
              Software Engineer Associate
            </h4>
            <div class="content">
              <p class="lead ">16-January-2019 30-November-2019 (Internship)</p>
              <h4>
                Role Description
              </h4>
              <ul class="lead description">
                <li>
                  He was responsible for developing the front-end and back-end of Team Portal using (Angular, Ionic,
                  NestJS and Firebase)
                </li>
                <li>
                  Developed and deployed a centralized server connected to the web and mobile applications.
                </li>
                <li>
                  Created NestJS and Firebase API service calls and further documented the process for future projects
                  or usage.
                </li>
                <li>
                  He gained experience in automation testing using Selenium and Microsoft UFT for Mobile and Web
                  Applications
                </li>
                <li>
                  He has participated and is aware of all sorts of agile ceremonies (user story grooming, sprint
                  planning, sprint retrospective)
                </li>
                <li>
                  UI/UX Design for Web and Mobile applications
                </li>
                <li>
                  Protected API's by using tokens to verify the user sending/receiving HTTP request to the server
                </li>
                <li>
                  Implemented Firebase(Client & Admin) authentication services on the server and client sides
                </li>
                <li>
                  During his time at Accenture he has exceeded expectations and established himself as a go-to person
                  the team depends on. As a self-starter, He quickly established himself as subject matter expert and
                  achieved this with no supervisor input and guidance. He is effectively guiding and supporting the
                  development. Obakeng leads the development shaping Team portal development, defining reusable
                  libraries and functionalities thus also defining scope of work and tasks for development team
                </li>
              </ul>
              <h4>
                Experience Prior To Accenture
              </h4>
              <ul class="lead">
                <li>
                  He volunteered as a read leader at Mine Is Education organization, he worked with learners in several
                  cultural activities including poetry, debates, drama, singing, spelling games etc. His experience
                  working
                  with the organization improved his skills on the exchange of knowledge and communications.
                </li>
              </ul>
              <h4>
                References
              </h4>
              <div class="row">
                <div class="col-6">
                  <p>Nonyane Ernest</p>
                  <p>Supervisor</p>
                  <p>+27 72 351 8048</p>
                </div>
                <div class="col-6">
                  <p>Marius Dreyer</p>
                  <p>Team lead</p>
                  <p>+27 83 378 2972 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="container-fluid text-center footer">
    <p class="p-0">&copy; Copy rights <span class="period">.</span> obakeng.phikiso </p>
  </footer>
</div>
