@mixin transition-ease {
  transition: all 0.9s ease-in-out;
}
p {
  padding: 0;
  margin: 0;
}

.heading {
  color: #3C9FF5;
  font-variant-caps: all-petite-caps;
  font-size: 500;
}
.subheading {
    font-variant-caps: all-petite-caps;
    font-size: 500;
}

.content {
  margin: 0;
  padding: 0;
}

#surname {
  color: #3C9FF5;
}
.title {
    color: #fff;
}
.experience-description {
  color: #000;
}
ul {
  list-style-image: url('../../assets/star.png');
}