
@mixin transition-ease {
    transition: all 0.9s ease-in-out;
  }
  p {
    padding: 0;
    margin: 0;
  }
  
  .heading {
    color: #3C9FF5;
    font-variant-caps: all-petite-caps;
    font-size: 500;
  }
  .subheading {
      font-variant-caps: all-petite-caps;
      font-size: 500;
  }
  
#surname {
    color: #3C9FF5;
  }
  .content {
    margin: 0;
    padding: 0;
  }

ul {
    list-style-image: url('../../assets/star.png');
  }
.card {
  border-left: solid 10px #3C9FF5;
  border-right: solid 10px #3C9FF5;
}
button:hover {
  @include transition-ease();
}
  
.space {
  padding: 100px;
}