<div class="container-fluid" id="content">
  <section class="col d-flex align-items-center pb-4">
    <div class="w-100">
      <h1 class="mb-0">
        <span id="surname">
          Certifications <img src="../../assets/icons/icons8_Certificate_100px.png" alt="certifications icon" class="float-right" height="50" width="50">
        </span>
      </h1>
      <div class="certifications mt-4">
        <div class="row">
          <div class="col certifications-description">
            <mat-card class="card mat-elevation-z1 mb-4">
              <mat-card-header>
                <mat-card-title>CCNA Routing and Switching: Introduction to Networks <img src="" alt="" class="float-right"></mat-card-title>
                <mat-card-subtitle>Cisco</mat-card-subtitle>
                <mat-card-subtitle>Nov - 2017</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul>
                  <li>Credential id: NCCNA1/2017/009</li>
                </ul>
              </mat-card-content>
              <mat-card-actions>
                <a href="../../assets/documents/CCNA.pdf" target="_blank">
                <button type="button" class="btn btn-primary btn-sm btn-block">Download</button>
              </a>
              </mat-card-actions>
            </mat-card>
            <mat-card class="card mat-elevation-z1">
              <mat-card-header>
                <mat-card-title>TypeScript fundamentals</mat-card-title>
                <mat-card-subtitle>Udemy</mat-card-subtitle>
                <mat-card-subtitle>Feb - 2019</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul>
                  <li>Credential id: UC-JBIIN6OC</li>
                </ul>
              </mat-card-content>
              <mat-card-actions>
                <a href="../../assets/documents/Typescript.pdf" target="_blank">
                <button type="button" class="btn btn-primary btn-sm btn-block">Download</button>
              </a>
              </mat-card-actions>
            </mat-card>
            
          </div>
          <div class="space">
            
          </div>
        </div>
      </div>
    </div>
  </section> 
  <footer class="container-fluid text-center footer fixed-bottom">
    <p class="p-0">&copy;Copy rights <span class="period">.</span> obakeng.phikiso </p>
    
    <h3 class="heading text-white">
      Let's Connect
    </h3>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/obakeng-phikiso" target="_blank" class="mat-elevation-z5">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/ObakengPhikiso" target="_blank" class="mat-elevation-z5">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.instagram.com/obakeng_phikiso" class="mat-elevation-z5" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </footer>
</div>
