<div class="container-fluid" id="content">
  <section class="col d-flex align-items-center">
    <div class="w-100">
      <h1 class="mb-0">
        <span id="surname">
          Certifications <img src="../../assets/icons/icons8_Certificate_100px.png" alt="certifications icon" class="float-right">
        </span>
      </h1>
      <div class="certifications">
        <div class="row">
          <div class="col certifications-description">

          </div>
        </div>
      </div>
    </div>
  </section>  
</div>
