<div class="container-fluid p-0" id="content">
  <section class="col d-flex align-items-center">
    <div class="w-100">
      <h1 class="mb-0">
        <span id="surname">
          Relevant Expertise
        </span>
      </h1>
      <div class="expertise">
        <div class="row">
          <div class="col">
            <div id="accordion">
              <div class="card">
                <button class="card-header btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <h5 class="mb-0">
                    Technical Skills <img class="float-right" src="../../assets/icons/icons8_Google_Code_40px.png"
                      alt="">
                  </h5>
                </button>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Angular 8</mat-card-title>
                            <mat-card-subtitle>Level: 6/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>NestJS</mat-card-title>
                            <mat-card-subtitle>Level: 6/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Firebase</mat-card-title>
                            <mat-card-subtitle>Level: 6/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Ionic 4</mat-card-title>
                            <mat-card-subtitle>Level: 5/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Java</mat-card-title>
                            <mat-card-subtitle>Level: 6/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: University</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 36</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>JavaScript</mat-card-title>
                            <mat-card-subtitle>Level: 6/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: University</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 24</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>TypeScript</mat-card-title>
                            <mat-card-subtitle>Level: 7/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>PHP</mat-card-title>
                            <mat-card-subtitle>Level: 4/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: University</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Git/GitHub</mat-card-title>
                            <mat-card-subtitle>Level: 6/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Google Cloud</mat-card-title>
                            <mat-card-subtitle>Level: 5/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Adobe XD</mat-card-title>
                            <mat-card-subtitle>Level: 8/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Self taught</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>MySQL</mat-card-title>
                            <mat-card-subtitle>Level: 7/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: University</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 24</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                    <div class="row mt-3">

                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>NoSQL</mat-card-title>
                            <mat-card-subtitle>Level: 7/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: Yes</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Selenium</mat-card-title>
                            <mat-card-subtitle>Level: 4/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 5</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>Microsoft UFT</mat-card-title>
                            <mat-card-subtitle>Level: 5/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 5</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col">
                        <mat-card class="item">
                          <mat-card-header>
                            <mat-card-title>MongoDB</mat-card-title>
                            <mat-card-subtitle>Level: 5/10</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <ul>
                              <li>Origin: Online course</li>
                              <li>Actively developing: No</li>
                              <li>Months of active experience: 12</li>
                            </ul>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <div id="accordion">
              <div class="card">
                <button class="card-header btn" data-toggle="collapse" data-target="#collapseTwo"
                  aria-controls="collapseTwo">
                  <h5 class="mb-0">
                    Soft Skills <img class="float-right" src="../../assets/icons/icons8_Development_Skill_40px.png"
                      alt="">
                  </h5>
                </button>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <ul class="soft-skills">
                          <li>Can translate system requirements into wireframes and User Interface</li>
                          <li>
                            Has a one year experience working in an agile team
                          </li>
                          <li>
                            Can carry out assigned tasks with less or no suppervision
                          </li>
                          <li>
                            He has passion about knowledge and skills transfer.
                          </li>
                          <li>
                            He has a good systematic / problem solving skills
                          </li>
                          <li>
                            Can work as a team with people of diverse ethnic and social background
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="container-fluid text-center footer">
    <p class="p-0">&copy; Copy rights <span class="period">.</span> obakeng.phikiso </p>
  </footer>
</div>
